/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #7CAFE1;
  background-size: 50px 50px;

  font: 14px/20px "Lato", Arial, sans-serif;
  margin: 0;
  padding: 40px 0;
  border: 0;
}


.main {
  background-color: #FFF;
  border-radius: 5px;
  width: 760px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 2px 2px 12px #666666;
}

.main img {
  margin-bottom: 20px;
  width: 100%;
}

.pad {
  margin: 0 auto;
  padding: 0px 25px 0px 20px;
}

#likability-title {
  padding: 0px 40px 0px 20px;
}
